<h1>Add a word</h1>

<img src="/bookspace.gif" alt="A picture of a book flipping pages.">

<h2>Add a word here:</h2>

<form action="/words" method="post">
  <input id="name" name="name" type="text" required>
  <button type="submit" class="btn btn-warning">Add Word</button>
</form>
