<h1>Success!</h1>

<img src="/bookspace.gif" alt="A picture of a book flipping pages.">

<h2>Your definition has been saved to the word $word.getName()!</h2>

<h2><a href="/words">View words</a></h2>
