<h1>All words</h1>

<img src="/bookspace.gif" alt="A picture of a book flipping pages.">

<ul>
  #foreach ($word in $words)
    <h2>  &#9734;  <a id="word" href="/words/$word.getId()">$word.getName()</a></h2>
  #end
</ul>
<h2><a href="/words/new">Add New Word</a></h2>
<h2><a class="home" href="/">Back To Home Page</a></h2>
